@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap')

.main_layout
  min-height: 100vh
  background: #efede6
  .main_layout__navigation
    .container
      padding: 0 15px
    height: 60px
    background-color: #1890ff
    box-shadow: 0 2px 0 rgba(0,0,0,0.045)
    display: flex
    align-items: center
    .main_layout__logo
      font-family: 'Patua One', cursive
      font-size: 30px
      color: white
    .main_layout__select_grid
      height: 100%
      display: flex
      justify-content: flex-end
      align-items: center

.main_page
  padding: 20px 0
  .main_page__cams_block
    //border: 1px solid black
    padding: 5px
    .main_page__cams_block_wrapper
      border: 1px solid #1890ff
      width: 100%
      height: 100%
      overflow: hidden
      display: flex
      justify-content: center
      align-items: center
      img
        height: 100%